<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b51c9260a4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <script src="../js/script.js"></script>
    <title>Categorias</title>
</head>
<body>
    <header>
        <div id="main-logo-div">
            <img src="../images/millenium_logo.png" class="logo" id="main-logo">
        </div>
        <section id="search">
            <div class="input-group mb-3" id="search-div">
                <input type="text" class="form-control" id="search-input" placeholder="Buscar productos" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append" id="search-button-div">
                  <button class="btn btn-outline-light" id="search-button" type="button">Buscar</button>
              </div>
            </div> 
        </section>

      </section>
      <section id="new-account">
          <i class="fa-solid fa-circle-user fa-3x" id="account-icon">
            <a class="nav-link" href="#" id="account-a"></a>
          </i>
          
      </section>
      <section id="new-cart">
          <i class="fa-solid fa-cart-shopping fa-3x" id="cart-icon">
            <a class="nav-link" href="#" id="cart-a"></a>
          </i>
          
      </section>
    </header>




    <div id="categories-search-div">
        <div id="categories-search-subdiv">

            <nav aria-label="breadcrumb" id="breadcrumb-nav">
          
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item "><a href="index.html" class="breadcrumb-text">Homepage</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Categorias</li>
                  </ol>
                </nav>
                
            </nav>
    
            <nav id="navbar-example3" class="navbar navbar-light bg-light">
                <section id="nav-search">
                    <div class="input-group mb-3" id="search-div">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="nav-search-input" placeholder="search" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-prepend" id="clue-icon-div">
                              <i class="fa-solid fa-magnifying-glass fa-2x" id="clue-icon"></i>
                            </div>
                        </div>
                </section>
                <nav class="nav nav-pills flex-column" id="sub-search-nav">
                  <a class="nav-link" href="#item-1" id="sub-search-nav-text">Pinturas</a>
                  <a class="nav-link" href="#item-2" id="sub-search-nav-text">Ladrillos</a>
                  <a class="nav-link" href="#item-3" id="sub-search-nav-text">Herramientas</a>
                  <a class="nav-link" href="#item-1" id="sub-search-nav-text">azulejos</a>
                  <a class="nav-link" href="#item-2" id="sub-search-nav-text">Jardinería</a>
                  <a class="nav-link" href="#item-3" id="sub-search-nav-text">Iluminación</a>
                  <a class="nav-link" href="#item-3" id="sub-search-nav-text">Construcción</a>
                </nav>
            </nav>
        </div>

        <div id="product-div">
            <h1 id="product-title">Azulejos</h1>
            <img src="../images/ad5.jpeg" alt="anuncio" id="product-ad">
        </div>    

    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination" id="pagination-ul">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only"></span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only"></span>
            </a>
          </li>
        </ul>
    </nav>

    <footer id="footer">
      <div id="footer-div">
        <img src="../images/millenium_footer.png" id="footer-img" >
      </div>
    </footer>


</body>
</html>