<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b51c9260a4.js" crossorigin="anonymous"></script>
  <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
  <link href="../css/styles.css" rel="stylesheet">
  <script src="../js/script.js"></script>
  <title>Homepage</title>
</head>
<body>
    <header>
        <div id="main-logo-div">
            <img src="../images/millenium_logo.png" class="logo" id="main-logo">
        </div>
        <section id="search">
            <div class="input-group mb-3" id="search-div">
                <input type="text" class="form-control" id="search-input" placeholder="Buscar productos" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append" id="search-button-div">
                    <button class="btn btn-outline-light" id="search-button" type="button">Buscar</button>
                </div>
                <div class="input-group mb-3" id="suggest-icon-div">
                  <i class="fa-solid fa-lightbulb" id="suggest-icon">
                    <a class="nav-link active" href="" id="suggest-a">Sugerencias</a>
                  </i>
                </div>
            </div> 
        </section>
        <section class="location">
            <div id="location-div">
                <a class="nav-link" href="#" id="location-a">
                    Sucursal 1
                    <i class="fa-solid fa-location-dot"></i>
                </a>
                <a class="nav-link" href="#" id="location-a">
                    Sucursal 2
                    <i class="fa-solid fa-location-dot"></i>
                </a>
                <a class="nav-link" href="#" id="location-a">
                    Sucursal 3
                    <i class="fa-solid fa-location-dot"></i>
                </a>
            </div>
        </section>
        <section id="account">
            <i class="fa-solid fa-circle-user fa-3x" id="account-icon">
              <a class="nav-link" href="../templates/login.html" id="account-a">Cuenta</a>
            </i>
            
        </section>
        <section id="cart">
            <i class="fa-solid fa-cart-shopping fa-3x" id="cart-icon">
              <a class="nav-link" href="#" id="cart-a">Carrito</a>
            </i>
            
        </section>
    </header>

    <nav>
        <ul class="nav justify-content-center" id="main-nav">
            <li class="nav-item">
              <i class="fa-solid fa-bars fa-1x" id="navbar-icon">
                <a class="nav-link" href="../templates/categorias.html" id="nav-text">Categorías</a>
              </i>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-basket-shopping" id="navbar-icon">
                <a class="nav-link" href="../templates/tienda.html" id="nav-text">Tienda</a>
              </i>
            </li>
            <li class="nav-item">
              <i class="fa-solid fa-tag" id="navbar-icon">
                <a class="nav-link" href="../templates/Catalogo.html" id="nav-text">Ofertas</a>
              </i>
            </li>
            <li class="nav-item">
              <i class="fa-regular fa-square" id="navbar-icon">
                <a class="nav-link" href="../templates/Catalogo.html" id="nav-text">Catálogos</a>
              </i>
            </li>
        </ul>
    </nav>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../images/ad1.jpeg" alt="First slide" id="image-slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../images/millenium_logo_alt.png" alt="Second slide" id="image-slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../images/millenium_pattern.png" alt="Third slide" id="image-slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previo</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
    </div>


      <ul class="nav justify-content-center" id="secondary-nav">
        <li class="nav-item">
          <i class="fa-solid fa-circle-check fa-1x" id="navbar-icon">
            <a class="nav-link active" href="#" id="nav-text">Eficiencia</a>
          </i>  
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-lock" id="navbar-icon">
            <a class="nav-link" href="#" id="nav-text">Seguridad</a>
          </i>
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-bolt" id="navbar-icon">
            <a class="nav-link" href="#" id="nav-text">Rápidez</a>
          </i>
        </li>
      </ul>
    

      <div id="ad-div-wrapper">
        <h2 class="title" id="ad-title"> Es más nuevo en Millenium </h2>
        <hr>
        
            <section id="ad-cards">
            <div class="card">
                <img class="card-img-top" src="../images/ad2.jpeg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Catálogo Abril</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../images/ad3.jpeg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Catálogo Mayo</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="../images/ad4.jpeg" alt="Card image cap">
                <div class="card-body">
                <p class="card-text">Catálogo Junio</p>
                </div>
            </div>
            </section>
        </div>

      <footer id="footer">
        <div id="footer-div">
          <img src="../images/millenium_footer.png" id="footer-img" >
        </div>
      </footer>

  </body>
</html>